body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 10;
}

#logo {
  float: left;
  margin: 9px 0 0 10px;
  height: 50px;
}

header ul {
  float: right;
  display: inline;
  list-style: none;
}

header li {
  display: inline;
  margin-left: 5px;
  text-decoration: underline;
}

.main, .tea, .loc, .cont, footer {
  border: 1px solid white;
}

.main {
  height: 700px;
}

.tea {

}
.loc {
  height: 500px;
}

.cont {
  height: 200px;
}
