body {
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
  margin-top: 0;
}
h3 {
  font-size: 25px;
  font-weight: lighter;
  line-height: 2.0;
}

#boss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*  header/navigation */

.header {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 9;
}

#logo {
  float: left;
  margin: 9px 0 0 10px;
  height: 50px;
  z-index: 10;
}

.header ul {
  margin-right: 10px;
  float: right;
  display: inline;
  list-style: none;
  z-index: 9;
}

.header li {
  display: inline;
  margin-left: 5px;
  text-decoration: underline;
}
#spacer {
  padding-right: 10px;
}
a {
  color: seashell;
}


/* Mission Section */
.miss {
  margin: 0;
  height: 700px;
  width: 1200px;
  background-image: url("./images/mission.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 700px;
  background-position: center;
  z-index: 8;
  text-align: center;

}

.mission {
  position: relative;
  top: 300px;
  background-color: black;
}


.mission h1 {
  font-weight: bold;
  margin: 0;
  padding:10px 0 0 0;
}

.mission h2 {
  font-size: 25px;
  padding-bottom: 15px;
  padding: 0 0 10px 0;
  margin: 15px;
}

/* Tea List Section */

.tea {

  text-align: center;
  width: 1000px;
}

.TOTMo {

  text-align: center;
}
.TOTMo h1 {
  font-weight: bold;
}

.TOTMo h2 {
  margin-top: 0;
}

.list {
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list img {
  max-width: 300px;
  max-height: 200px;
  margin: 25px;
}

#berry {
  margin-left: 0;
}

#donut {
  margin-right: 0;
}

/*Location Section*/

.loc {
  background-image: url("./images/location.jpg");
  height: 500px;
  width: 1200px;
}

.loc h1 {
}

.loc h2 {
  margin-top: 20px;
}

.place {
  display: flex;
  justify-content: space-around;
}

.place div  {
  background-color: black;
  margin: 55px 20px;
  opacity: 1;
  height: 250px;
  width: 300px;
}

.east span {
  font-size: 24px;
}

/* Contact Section */

.cont {
  height: 200px;
}

footer {
  margin: 30px 0px 0px 20px;
  float: left;
}
